
RewriteOptions inherit
RewriteEngine on
RewriteRule ^/?$ index.php
RewriteRule ^about-us?$ about-us.php
RewriteRule ^buy-crypto?$ buy-crypto.php
RewriteRule ^services?$ service.php
RewriteRule ^copy-expert-traders?$ copy-expert-traders.php
RewriteRule ^forex-trading?$ forex-trading.php
RewriteRule ^crypto-trading?$ crypto-trading.php
RewriteRule ^stock-trading?$ stocks-trading.php
RewriteRule ^referral?$ referral.php
RewriteRule ^signin?$ signin.php
RewriteRule ^signupn?$ signup.php
RewriteRule ^privacy-policy?$ privacy-policy.php
RewriteRule ^cookie-policy?$ cookie-policy.php
RewriteRule ^options-trading?$ options-trading.php
RewriteRule ^what-is-leverage?$ what-is-leverage.php
RewriteRule ^responsible-trading?$ responsible-trading.php
RewriteRule ^terms-of-service?$ terms-of-service.php
RewriteRule ^general-risk-disclosure?$ general-risk-disclosure.php

RewriteRule ^markets/tickers=forex?$ markets.php?tickers=forex


RewriteRule ^contact?$ contact.php
RewriteRule ^deposit?$ deposit.php
RewriteRule ^404?$ 404.php
RewriteRule ^login?$ login.php
RewriteRule ^register?$ register.php
RewriteRule ^personal-banking?$ personal.php
RewriteRule ^about-us?$ about-us.php
RewriteRule ^contact-us?$ contact.php
RewriteRule ^business-banking?$ business.php
RewriteRule ^commercial-banking?$ commercial.php
RewriteRule ^loans?$ loan.php
RewriteRule ^invest-rt?$ investment.php
RewriteRule ^index?$ index.php
RewriteRule ^rate?$ rate.html
RewriteRule ^acknowlegement?$ acknowledgement.php
RewriteRule ^admicuser?$ admin.php
ErrorDocument 404 https://markets/404

