.fsm {
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    clip-path: circle(0%);
    transition: all 300ms ease-in-out;
}
.fsm.open {
    clip-path: circle(75%);
}

h1 {
    margin-top: 6px;
}
.app-inline {
    display: inline;
}
.bread {
    padding: 1rem;
    border-top: 1px solid #e1e1e1;
}
.fade-appear {
    opacity: 0;
}
.fade-appear-active {
    opacity: 1;
    transition: opacity 1000ms linear;
}
.fixed-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}
.animate-up {
    animation-name: animate-up;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}
@keyframes animate-up {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-1100px);
    }
}
.app-trading-month {
    margin: 0;
    padding: 0;
    font-weight: 500;
}
.app-trading-day {
    font-size: 2.1rem;
}
.app-slider-title {
    font-size: 25px;
    font-weight: 900;
}
.app-slider-caption {
    font-size: 18px !important;
    line-height: 27px;
}
.my-node-enter {
    opacity: 0;
}
.my-node-enter-active {
    opacity: 1;
    transition: opacity 500ms;
}
.my-node-exit {
    opacity: 1;
}
.my-node-exit-active {
    opacity: 0;
    transition: opacity 500ms;
}
.test-enter {
    opacity: 0;
    font-size: 10px;
}
.test-enter.test-timeout {
    opacity: 1;
    transition: 500ms;
}
.test-enter.test-timeout.test-leaves {
    color: red;
}

body {
    font-size: 15px;
    font-family: "Signika Negative", Arial, sans-serif;
}
input {
    font-size: 14px;
}
p {
    padding-left: 0;
    margin-top: 0px;
}
h1 {
    font-size: 76px;
    margin-bottom: 10px;
}
h2 {
    font-size: 44px;
    margin-top: 10px;
    margin-bottom: 0;
}
h3 {
    margin: 0;
    padding: 0;
    font-size: 28px;
    margin-top: 5px;
    margin-bottom: 5px;
}
h4 {
    font-size: 17px;
    margin-bottom: 1rem;
}
h5 {
    font-size: 20px;
}
h6 {
    font-size: 16px;
    margin-bottom: 15px;
}

.f-18 {
    font-size: 18px;
}
.f-20 {
    font-size: 20px;
}
.f-21 {
    font-size: 21px;
}
.f-22 {
    font-size: 22px;
    font-weight: 100;
}
.f-24 {
    font-size: 24px;
    font-weight: 100;
}
.app-f2 {
    font-size: 14px;
}
.app-font-big {
    font-size: 16px;
}
.carousel.carousel-slider .carousel-item p {
    font-size: 18px;
}
.carousel.carousel-slider .carousel-item h2 {
    font-size: 32px;
    font-weight: bold;
}
.table-title {
    font-size: 14px;
}
.app-title {
    font-size: 1.1rem;
}

:root {
    --primary-button: #04999f;

    --background-colour: #f4f7fd;
    --background-font-colour: #000000;
    --background-heading-colour: #ffffff;
    --primary-background: #e6ebec;
    --primary-font-colour: #4a4a4a;
    --primary-heading-colour: #ffffff;
    --secondary-background: #ffffff;
    --secondary-font-colour: #000000;
    --secondary-heading-colour: #252525;
    --border-colour: #f2f2f2;
    --button-font-colour: #ffffff;
    --primary-link-colour: black;
    --primary-border-colour: #363c4e;
    --image: url("./assets/images/Background8.jpg");
    --secondary-button: white;
    --alt-background: #c4ecd8;
    --alt-colour: #004b9e;
    --hover: #dce2e4;
}
.pfc {
    color: var(--primary-font-colour);
}
.sfc {
    color: var(--secondary-font-colour);
}
.hc {
    color: var(--primary-heading-colour);
}
.app-recharts {
    border: 3px solid var(--border-colour);
}

.mgt-box {
    padding: 25px;
    margin-bottom: 40px;
    border: 1px solid #ddd;
}
.mgt-box-2 {
    padding: 30px;
    border: 1px solid #f7921a;
    background: rgba(0, 0, 0, 0.4);
}

.dropdown-content li > a {
    color: black !important;
}
::-webkit-scrollbar-track {
    background: var(--primary-background);
}
::-webkit-scrollbar-thumb {
    background: #4f586b;
}
::-webkit-scrollbar-thumb:hover {
    background: #4f586b;
}
.collapsible-header {
    border-bottom: 0;
    color: var(--primary-font-colour);
    background: var(--primary-background);
}
#myVideo {
    position: absolute;
    top: 0;
}
.card,
.card-panel {
    color: var(--primary-font-colour);
    background: var(--primary-background);
}
.bg .card-panel {
    color: var(--background-font-colour);
    background: var(--background-colour);
}
.white-bg {
    background-color: #ffffff;
    color: #777777;
}
.white-bg h2,
.white-bg h5 {
    color: #2c2c2c;
}
.bg.bg-secondary h5 {
    color: white;
}
.train {
    width: 290px;
    height: 160px;
    border-radius: 10px;
    background: red;
}
.background {
    background: var(--background-colour);
}

.trans-card {
    padding: 2rem;
    padding-top: 2.8rem;
    border-radius: 25px;
    background-color: #2e8cec;
}
.alt-color {
    color: var(--alt-colour);
}
.card-panel h2 {
    color: var(--background-heading-colour) !important;
}

.light-text {
    color: #a5bdd9;
}
.collection {
    border: 0;
    background: transparent;
}
.collection .collection-item {
    border-bottom: 1px solid var(--background-colour);
}
.collection .collection-item:last-child {
    border-bottom: 1px solid var(--background-colour);
}
.collection .collection-item {
    padding: 13px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    border-radius: 10px;
    background-color: var(--primary-background);
}
.bg-gradient-teal {
    background: linear-gradient(87deg, #11cdef 0, #1171ef 100%) !important;
}
.bg-gradient-indigo {
    background: linear-gradient(87deg, #5603ad 0, #9d03ad 100%) !important;
}
.bg-gradient-orange {
    background: linear-gradient(87deg, #fb6340 0, #fbb140 100%) !important;
}
.bg-gradient-danger {
    background: linear-gradient(87deg, #f5365c 0, #f56036 100%) !important;
}
.bg-gradient-charity {
    background: linear-gradient(
        245.59deg,
        rgba(255, 0, 92, 0.4) 2.69%,
        rgba(173, 0, 255, 0) 72.17%
    );
}
.w {
    width: 40px !important;
    margin-right: 1rem !important;
    border: 1px solid var(--background-font-colour) !important;
    border-radius: 5px !important;
    text-align: center;
    padding-left: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--background-heading-colour);
}
.bg.bg-secondary h1,
.bg.bg-secondary h2,
.bg.bg-secondary h3,
.bg.bg-secondary h6 {
    color: var(--secondary-heading-colour);
}
.f-24 {
    font-size: 24px;
}
.input-field > label {
    color: #5b728c;
    font-size: 0.75rem;
}
.collection a.collection-item span {
    color: var(--primary-font-colour);
}
ol li {
    padding-left: 2rem;
    padding-bottom: 1rem;
}
.collection a.collection-item:not(.active):hover {
    background-color: var(--hover);
}
.app-image-back-1 {
    background: var(--image);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
}
.bg.bg-secondary {
    color: var(--secondary-font-colour);
    background-color: var(--secondary-background);
}

.page-text {
    color: var(--primary-font-colour);
}

.app-blue {
    background-color: #060642;
}
.tabs {
    color: white;
    overflow: hidden;
    background: transparent;
}
select:focus {
    outline: none;
}
.app-trade-menu {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-font-colour);
    background: var(--primary-background);
}
.app-trade-menu:hover,
.app-trade-menu.active {
    color: var(--primary-font-colour);
    background: var(--hover);
}

.collection .collection-item:hover {
    background-color: var(--hover);
}
::-webkit-scrollbar {
    width: 5px;
}
.background-text {
    color: var(--background-font-colour);
}
body {
    background: var(--background-colour);
    color: var(--background-font-colour);
}
.bg {
    color: var(--primary-font-colour);
    background-color: var(--primary-background);
}
.app-list-link {
    color: var(--background-font-colour);
    font-weight: 600;
}
.bg.bg-back {
    background-color: var(--background-colour);
}

select {
    height: 3rem;
    color: var(--background-font-colour);
    border-color: var(--primary-border-colour);
    background-color: transparent;
}
input[type="number"]:not(.browser-default),
input[type="number"]:not(.browser-default):focus:not([readonly]) {
    border-radius: 4px;
    box-sizing: border-box;
    color: var(--background-font-colour);
    border: 1px solid var(--primary-border-colour);
}
textarea.materialize-textarea {
    color: var(--background-font-colour);
}
.input-field .prefix.active {
    color: var(--background-font-colour);
}
input[type="tel"]:not(.browser-default),
input[type="date"]:not(.browser-default),
input[type="text"]:not(.browser-default),
input[type="email"]:not(.browser-default),
input[type="password"]:not(.browser-default),
input[type="number"]:not(.browser-default),
input[type="number"]:not(.browser-default):focus:not([readonly]) {
    border-radius: 7px;
    box-sizing: border-box;
    color: var(--background-font-colour);
    background-color: transparent;
    border: 1px solid var(--primary-border-colour);
}
input:not([type]):focus:not([readonly]),
input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="url"]:not(.browser-default):focus:not([readonly]),
input[type="time"]:not(.browser-default):focus:not([readonly]),
input[type="date"]:not(.browser-default):focus:not([readonly]),
input[type="datetime"]:not(.browser-default):focus:not([readonly]),
input[type="datetime-local"]:not(.browser-default):focus:not([readonly]),
input[type="tel"]:not(.browser-default):focus:not([readonly]),
input[type="number"]:not(.browser-default):focus:not([readonly]),
input[type="search"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border: 1px solid var(--primary-border-colour);
}
textarea.materialize-textarea {
    min-height: 100px;
    padding: 1rem;
    font-size: 16px;
    background: transparent;
    border-radius: 7px;
    border: 1px solid var(--primary-border-colour);
}
.input-field label {
    padding-left: 1rem;
}
.tabs .tab a,
.tabs .tab a:hover {
    color: #898181;
}
.tabs .tab a.active {
    font-weight: bold;
    color: var(--primary-button);
}
.tab a {
    color: var(--background-font-colour);
}
.tab a.active {
    font-weight: bold;
    color: var(--primary-button);
}
.tabs .indicator {
    background-color: var(--background-font-colour);
}
input {
    color: var(--primary-font-colour);
}
.collapsible {
    border: 0;
}
.overlay1,
.overlay2,
.overlay3 {
    position: absolute;
    opacity: 0.7;
    height: 100%;
    width: 100%;
    font-weight: bold;
}
.overlay1 {
    background: linear-gradient(rgba(3, 6, 126, 0.85), rgba(122, 0, 147, 0.85));
    opacity: 0.8;
}
.overlay2 {
    background: rgba(0, 0, 0, 0.8);
}
.overlay3 {
    background: black;
}
.overlay4 {
    background: red;
}
.overlay5 {
    background: var(--primary-button);
}
.pagination-button,
.pagination-text {
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    padding: 1rem;
    margin: 2px;
    display: inline-block;
}
.pagination-button:hover {
    background: var(--primary-button);
}
.app-orange {
    color: #fab915;
}
.card-content p {
    font-size: 13px;
    color: var(--primary-font-colour);
}

table.striped > tbody > tr:nth-child(odd) {
    background-color: var(--background-colour);
}
.carousel .indicators .indicator-item.active {
    border: 1px solid grey;
    background-color: #fff;
}
.carousel .indicators .indicator-item {
    background-color: grey;
}
.app-trading-month {
    margin: 0;
    padding: 0 0.2rem;
    font-weight: 500;
}
.app-trading-day {
    font-size: 2.1rem;
}
.tap-target {
    background: var(--primary-button);
    color: var(--button-font-colour);
}
a.hover:hover {
    color: var(--primary-button);
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
    word-break: break-word;
    top: 0px !important;
    max-width: 1500px;
    margin: 0 auto;
}

.input-field > label:not(.label-icon).active {
    transform: translateY(-22px) scale(1);
}
select.trading {
    max-width: 33vw;
}
.goog-tooltip {
    display: none !important;
}
.goog-tooltip:hover {
    display: none !important;
}
.goog-text-highlight {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
}
.card .card-content {
    padding: 0;
    padding-top: 15px;
}
.card {
    cursor: pointer;
}
input[type="text"]:not(.browser-default),
input[type="email"]:not(.browser-default),
input[type="number"]:not(.browser-default),
input[type="password"]:not(.browser-default) {
    padding-left: 10px;
}
.input-field {
    margin-bottom: 2rem;
}
.input-field > label {
    transform: translateY(7px);
}
.input-field .prefix {
    width: 3rem;
    padding-left: 10px;
}
.input-field .prefix.material-icons {
    top: 14px;
    padding-left: 2px;
}
.input-field .prefix ~ label {
    margin-left: 3rem;
}
.input-field .prefix ~ input {
    width: 100%;
    margin-left: 0;
    padding-left: 3.5rem;
}
.input-field .prefix {
    top: 0.82rem;
}
.wrap_ebd0 {
    bottom: 30px !important;
}
label {
    text-transform: capitalize;
}
.carousel .indicators .indicator-item {
    border-radius: 5px;
}
select {
    padding-bottom: 0;
    padding-top: 0;
    height: 3rem;
}
.padded-select {
    height: 2.9rem;
    padding-top: 10px;
    padding-bottom: 10px;
}
.pagination-button,
.pagination-text {
    margin-bottom: -3px !important;
}
.collection {
    margin-bottom: 0;
}
input:not([type]):focus:not([readonly]),
input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="url"]:not(.browser-default):focus:not([readonly]),
input[type="time"]:not(.browser-default):focus:not([readonly]),
input[type="date"]:not(.browser-default):focus:not([readonly]),
input[type="datetime"]:not(.browser-default):focus:not([readonly]),
input[type="datetime-local"]:not(.browser-default):focus:not([readonly]),
input[type="tel"]:not(.browser-default):focus:not([readonly]),
input[type="number"]:not(.browser-default):focus:not([readonly]),
input[type="search"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border: 1px solid #e1e1e1;
    box-shadow: none;
    box-sizing: border-box;
}
[type="checkbox"] + span:not(.lever) {
    font-size: 13px;
    line-height: 1.45;
}
::placeholder {
    color: #4a4a4a;
    text-transform: capitalize;
}
section {
    margin: -1px;
}
.tabs .tab {
    text-transform: none;
}
.material-icons {
    position: relative;
    padding: 0;
    vertical-align: middle;
    cursor: pointer;
    top: -3px;
    font-size: 18px;
}
.icon-share-01 {
    font-size: 2rem;
}
.card.medium {
    height: 350px;
}
.card.medium .card-image {
    max-height: 80%;
    overflow: hidden;
}
h2 {
    margin-top: 0;
}
img {
    margin: 0;
}
h1 {
    margin: 0;
}
.card-panel {
    margin: 0;
}
.collapsible-header {
    font-size: 1.2rem;
}
.collection {
    border: none;
    margin-top: 0;
}
.fixed-action-btn {
    right: 100px;
}
.row {
    margin-bottom: 0;
}
.goog-te-banner-frame.skiptranslate {
    display: none !important;
}
#particles-js canvas {
    position: absolute;
    max-height: 766px;
    top: 0;
    left: 0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    margin: 0;
}
.input-field .prefix {
    font-size: 14px;
}
.file-field .btn {
    line-height: 1.5rem;
}
.fixed-action-btn {
    right: 30px;
    bottom: 60px;
}
.card .card-content {
    padding-left: 0;
    padding-right: 0;
}
.card-content {
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    line-height: 24px;
}
.card-content p {
    line-height: 17px;
}

.hero1,
.hero-currencies {
    background: url(./assets/images/site/Hero1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.hero2,
.hero-bitcoin {
    background: url(./assets/images/site/Hero2.jpg);
    background-size: auto 900px;
    background-position: center;
    background-repeat: no-repeat;
}
.hero3,
.hero-mixed {
    background: url(./assets/images/site/Hero3.jpg);
    background-position: center;
    background-repeat: no-repeat;
}
.hero4,
.hero-stocks {
    background: url(./assets/images/site/Hero4.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.hero5,
.hero-numbers {
    background: url(./assets/images/site/Hero5.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.hero6,
.hero-trader {
    background: url(./assets/images/site/BgTrader.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.dashboard-trading {
    background: url(./assets/images/site/Background1.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}
.dashboard-mining {
    background: url(./assets/images/site/Gradient.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.app-cap-1 {
    background: url(./assets/images/site/BgCapitalAbout.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.app-cap-2 {
    background: url(./assets/images/site/CapitalLanding1.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.app-cap-3 {
    background: url(./assets/images/site/CapitalLanding2.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.app-cap-4 {
    background: url(./assets/images/site/CapitalMap.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.app-bg-crypto-gif {
    background-image: url(./assets/images/site/BgCrypto.gif);
    background-size: cover;
    background-repeat: no-repeat;
}
.app-bg-numbers {
    background-image: url(./assets/images/site/BgNumbers.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.app-bg-numbers2 {
    background-image: url(./assets/images/site/BgNumbers2.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.app-bg-datacenter {
    background-image: url(./assets/images/site/Datacenter.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.app-bg-stocks {
    background: url(./assets/images/site/BgStocks2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.app-bg-charts {
    background: url(./assets/images/site/BgCharts.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}
.app-bg-trader {
    background: url(./assets/images/site/BgTrader.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.app-bg-trader2 {
    background: url(./assets/images/site/Trader.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}
.app-bg-forex {
    background: url(./assets/images/site/BgForex.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.app-bg-crypto {
    background: url(./assets/images/site/Crypto4.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}
.app-bg-bitcoin {
    background: url(./assets/images/site/BgBitcoin.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.app-gr-1 {
    background: url(./assets/images/site/Gradient1.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.app-gr-2 {
    background: url(./assets/images/site/Gradient2.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.app-gr-3 {
    background: url(./assets/images/site/Gradient3.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.app-gr-4 {
    background: url(./assets/images/site/Gradient4.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.app-gr-5 {
    background: url(./assets/images/site/Gradient5.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.app-gr-6 {
    background: url(./assets/images/site/Gradient6.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.app-gr-7 {
    background: url(./assets/images/site/Gradient7.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.app-bg-pattern {
    background: url(./assets/images/site/Pattern.png);
}
.app-image-back-1 {
    background: url(./assets/images/site/Background1.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}
.app-image-gradient {
    background: url(./assets/images/site/Gradient.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.app-image-world {
    background: url(./assets/images/site/World.webp);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}
.app-image-dots {
    background: url(./assets/images/site/Dots.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.app-prime-1 {
    background: url(./assets/images/site/Prime-Slidebg-1.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.app-prime-2 {
    background: url(./assets/images/site/Prime-Slidebg-1.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.app-prime-3 {
    background: url(./assets/images/site/Prime-Slidebg-3.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.app-prime-4 {
    background: url(./assets/images/site/Prime-Slidebg-1.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.app-prime-5 {
    background: url(./assets/images/site/Prime-Slidebg-5.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.app-liquid-1 {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(./assets/images/site/Liquid-Lines-1.png);
}
.app-liquid-2 {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(./assets/images/site/Liquid-Lines-2.png);
}
.app-mgt-1 {
    background: url(./assets/images/site/MgtBg1.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.app-mgt-2 {
    background: url(./assets/images/site/MgtBg2.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.app-mgt-3 {
    background: url(./assets/images/site/MgtBg3.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.app-ultra-1 {
    background: url(./assets/images/site/UltraBg1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.app-ultra-2 {
    background: url(./assets/images/site/UltraBg2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.app-ultra-3 {
    background: url(./assets/images/site/UltraBg3.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.app-ultra-4 {
    background: url(./assets/images/site/UltraBg4.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.app-ultra-5 {
    background: url(./assets/images/site/UltraBg5.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.app-image-awards {
    background: url(./assets/images/site/Awards.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.app-vh {
    min-height: 710px;
    position: relative;
}
.app-pb-3 {
    padding-bottom: 3rem;
}
.app-flex.app-flex-rev {
    flex-wrap: wrap-reverse;
}
.app-relative {
    position: relative;
}
.app-flex {
    display: flex;
    flex-wrap: wrap;
}
.app-flex-1 {
    flex: 1;
}
.app-flex-2 {
    flex: 2;
}
.app-flex-3 {
    flex: 3;
}
.app-flex-start {
    align-items: flex-start;
}
.app-flex-center {
    align-items: center;
}
.app-flex-vh {
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
    min-height: 600px;
}
.app-flex-l9 {
    flex: 1;
    flex-basis: 576px;
}
.app-flex-l6 {
    flex: 1;
    flex-basis: 384px;
}
.app-flex-l3 {
    flex: 1;
    flex-basis: 192px;
}
.app-bold {
    font-weight: bold;
}
.app-mb-0 {
    margin-bottom: 0;
}
.app-mb-1 {
    margin-bottom: 1rem;
}
.app-mb-2 {
    margin-bottom: 2rem !important;
}
.app-mb-5 {
    margin-bottom: 5rem;
}
.app-mt-0 {
    margin: 0;
}
.app-mt-1 {
    margin-top: 1rem;
}
.app-mt-2 {
    margin-top: 2rem;
}
.app-mt-4 {
    margin-top: 4rem;
}
.app-mx-0 {
    margin-left: 0;
    margin-right: 0;
}
.app-mx-1 {
    margin-left: 1rem;
    margin-right: 1rem;
}
.app-mx-2 {
    margin-left: 2rem;
    margin-right: 2rem;
}
.app-my-0 {
    margin-top: 0;
    margin-bottom: 0;
}
.app-my-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.app-my-2 {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
}
.app-my-3 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.app-p-0 {
    padding: 0;
}
.app-p-3 {
    padding: 3rem;
}
.app-pb-0 {
    margin-bottom: 0;
}
.app-pb-1 {
    padding-bottom: 1rem;
}
.app-pt-3 {
    padding-top: 3rem;
}
.app-px-0 {
    padding-left: 0;
    padding-right: 0;
}
.app-px-1 {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}
.app-px-2 {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
}
.app-px-3 {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
}
.app-px-3-5 {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
}
.app-px-4 {
    padding-left: 4rem;
    padding-right: 4rem;
}
.app-py-0 {
    padding-top: 0;
    padding-bottom: 0;
}
.app-py-1 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}
.app-py-1-5 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
}
.app-py-2 {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
}
.app-py-3 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}
.app-py-4 {
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.app-text-bold {
    font-weight: bold;
}
.app-text-capitalize {
    text-transform: capitalize;
}
.app-text-center {
    text-align: center;
}
.app-text-justify {
    text-align: justify;
}
.app-px {
    padding-left: 1rem;
    padding-right: 1rem;
}

.table-title {
    text-transform: uppercase;
}
.app-trade-icon {
    width: 45px;
    border-radius: 10px;
}
.app-trade-icon-container {
    position: relative;
    left: -20px;
}
.ld-text {
    min-width: 100%;
}
.container-50 {
    max-width: 50%;
}
.pc-container-left {
    width: 95%;
}
.app-line {
    line-height: 3.5rem;
}
.chart-height {
    height: 45vh;
}
.list-height {
    height: 92vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
.app-trade-vh {
    height: 90vh;
}
.app-trade-menu {
    font-size: 11px;
    font-weight: bold;
}
.app-font-small {
    font-size: 12px;
    line-height: 10px;
}
.app-font-normal {
    font-size: 12px;
    line-height: 10px;
}
@media (max-width: 320px) {
    .btn.btn-large {
        max-width: 47%;
        padding-left: 15px;
        padding-right: 15px;
    }
    .train {
        width: 160px;
    }
    h1 {
        font-size: 1.8rem;
    }
    h2 {
        font-size: 20px;
    }
    .app-trade-icon-container {
        left: -17px;
        top: 6px;
    }
    .app-trade-icon {
        width: 35px;
    }
    .container {
        width: 95%;
    }
    .btn {
        padding-left: 1.1rem;
        padding-right: 1.1rem;
    }
    body {
        font-size: 10px;
        line-height: 11px;
    }
    .container-50 {
        max-width: 95%;
    }
    input {
        font-size: 0.7rem !important;
    }
    .chip {
        font-size: 11px;
    }
    .f-24 {
        font-size: 18px;
    }
    .mobile-bg {
        background-color: var(--primary-background);
    }
}
@media (min-width: 321px) and (max-width: 490px) {
    .ticon {
        max-width: 50px;
    }
    .prime-video {
        width: 100%;
        height: 100%;
    }
    .app-bg-trader2 {
        background-position: center;
        background-position-x: 64%;
    }
    .train {
        width: 160px;
    }
    .btn.btn-large {
        padding-left: 25px;
        padding-right: 25px;
    }
    .container {
        width: 95%;
    }
    h1 {
        font-size: 2.6rem;
    }
    .trans-card {
        margin: auto;
        max-width: 90%;
    }
    .menu a {
        display: block;
        text-align: center;
    }
    .container-50 {
        max-width: 90%;
    }
    .cryptoicons {
        width: 32px;
    }
    .app-mobile-justify {
        text-align: justify;
    }
    .container-90 {
        margin: auto;
        max-width: 93%;
    }
    .pc-container-left {
        width: 80%;
        margin: auto;
    }
    .f-24 {
        font-size: 20px;
    }
    .mobile-start {
        align-self: flex-start;
    }
    .app-image-back-1 {
        background-position: center;
    }
    .app-image-back-2 {
        background-position: left;
    }
    .app-mobile-center {
        text-align: center;
    }
    .chip .close {
        top: -9px;
        line-height: 20px;
    }
    .app-px-3-5 {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    ul.stepper .step .step-content {
        margin-left: 1.5rem;
        margin-right: 0;
    }
    .app-f-3-6 {
        font-size: 2.5rem;
    }
    .mobile-table {
        padding-left: 5px;
        padding-right: 5px;
        font-size: 12px;
    }
    .mobile-bg {
        background-color: var(--primary-background);
    }
}
@media (min-width: 414px) and (max-width: 570px) {
    .pc-container {
        width: 96%;
        margin: auto;
    }
    .app-hide {
        display: none;
    }
    h3 {
        font-size: 17px;
    }
    .mobile-bg {
        background-color: var(--primary-background);
    }
}
@media (min-width: 571px) {
    .ticon {
        width: 56px;
        height: 56px;
    }
    .mobile-bg {
        background-color: var(--background-colour);
    }
    .container {
        width: 90%;
    }
    .app-big-right {
        text-align: right;
    }
    .app-slider-title {
        font-size: 40px;
        padding: 0;
    }
    .app-flex-vh {
        min-height: 602px;
    }
    .app-px {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    #particles-js canvas {
        max-height: 664px;
    }
    .btn {
        height: 100%;
    }
    .icon {
        padding-right: 1rem;
    }
}
@media (min-width: 826px) {
    .pc-right {
        text-align: right;
    }
    .app-line {
        line-height: 3.5rem;
    }
    .chart-height {
        height: 93vh;
    }
    .btn.btn-large {
        margin-bottom: 15px;
    }
    .container-right {
        margin-left: auto;
        margin-right: 10%;
    }
}
@media (min-width: 850px) {
    .pc-container {
        width: 90%;
        margin-right: auto;
    }
    .pc-container-left {
        margin-left: auto;
    }
    .app-form-padding {
        padding: 0px;
    }
}
@media (max-width: 825px) {
    .app-trade-vh {
        height: 85vh;
    }
    .app-font-normal {
        font-size: 11px;
    }
    .app-trade-menu {
        font-size: 9px;
    }
    .app-font-small {
        font-size: 10px;
    }
}
@media (max-width: 740px) {
    .app-tr-hidden {
        display: none;
    }
}
