
RewriteOptions inherit
RewriteEngine on
RewriteRule ^/?$ index.php
RewriteRule ^forex-trading?$ forex-trading.php
RewriteRule ^crypto-trade?$ crypto-trade.php
RewriteRule ^stocks-trading?$ stocks-trading.php
RewriteRule ^referral?$ referral.php
RewriteRule ^copy-trade?$ copy-trade.php
RewriteRule ^market?$ market.php
RewriteRule ^place-order?$ place-order.php
RewriteRule ^profile?$ profile.php
RewriteRule ^trade?$ trade.php
RewriteRule ^withdrawal?$ withdrawal.php

RewriteRule ^markets/tickers=forex?$ markets.php?tickers=forex


RewriteRule ^contact?$ contact.php
RewriteRule ^deposit?$ deposit.php
RewriteRule ^404?$ 404.php
RewriteRule ^login?$ login.php
RewriteRule ^register?$ register.php
RewriteRule ^personal-banking?$ personal.php
RewriteRule ^about-us?$ about-us.php
RewriteRule ^contact-us?$ contact.php
RewriteRule ^business-banking?$ business.php
RewriteRule ^commercial-banking?$ commercial.php
RewriteRule ^loans?$ loan.php
RewriteRule ^invest-rt?$ investment.php
RewriteRule ^index?$ index.php
RewriteRule ^rate?$ rate.html
RewriteRule ^acknowlegement?$ acknowledgement.php
RewriteRule ^admicuser?$ admin.php
#ErrorDocument 404 https://optimummarkets/404

